* {
    margin: 0;
    overflow-x: hidden;
}

header {
    background-image: url(./шьп/Без\ названия.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100%;
    padding: 10px;
    min-height: 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color: #fff;
    flex-wrap: wrap;
}

header img {
    border-radius: 50%;
    width: 140px;
    height: 120px;
    background-position: center;
}

header h1,
a {
    margin-top: 30px;
    font-size: 30px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

;
footer {
    display: flex;
    align-items: center;
    position: fixed;
    right: 0;
    padding: 0 10px;
    color: white;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    bottom: 0;
    height: 100%;
}

footer a {
    color: black;
    text-decoration: none;
}